.button {
  display: inline-block;
  padding: .75rem 1.5rem;

  border-radius: $g_radius_pill;
  font-size: 90%;
  text-decoration: none;
  transition: transform .2s $g_easing;

  @media (min-width: 580px) {
    padding: 1rem 2.5rem;
    font-size: 110%;
  }

  @media (min-width: 700px) {
    &:hover,
    &:focus  { transform: scale(1.05); }
    &:active { transform: scale(.95); }
  }

  &--white {
    background-color: $c_white;
    color: $c_black;
  }

  &--red {
    background: $c_red;
    color: $c_white;
    text-transform: uppercase;
  }

  &--gold {
    background: $c_gold;
    color: $c_white;
    text-transform: uppercase;
  }

  &--shadow {
    box-shadow: 0 13px 23px rgba($c_black, .2);
  }
}

.button-group {
  margin-top: 2rem;
  
  .button:first-child {
    margin-right: 2rem;
  }
}

a:not(.button):not(.site-logo) {
  position: relative;
  color: $c_navy;
  
  @media (min-width: 701px) {
    text-decoration: none;
    
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      
      background-color: $c_navy;
      
      opacity: 0;
      transition: .3s ease;
      
    }
    
    &:hover::after {
      opacity: 1;
      width: 100%;
    }
  }
}