//.site-header--home .menu {
.site-header .menu,
.brz .brz-wp-shortcode__menu .menu {
  // .home & {
  //   color: $c_white;
  // }
  
  @media (min-width: 700px) {
    display: block;
    
    &:hover {
      .menu-item a, 
      .menu__item a {
        color: rgba($c_white, .4) !important;
        
        &:hover { color: $c_white !important; }
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item,
  &-item {
    position: relative;

    display: inline-block;
    margin-right: 2rem;
    
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;

      height: 2px;
      width: 0;

      background: $c_white;
      opacity: 0;
      transition: .3s ease;
    }
    
    @media (min-width: 700px) {
      &--current::after,
      &.current-menu-item::after {
        opacity: 1;
        width: 100%;
      }
    }

    &:last-child { margin-right: 0; }
  }

  &__link,
  &-item a {
    color: $c_white;
    text-decoration: none;
    transition: color .3s ease;

    // .home & {
    //   text-shadow: 0 4px 8px rgba($c_black, .2);
    // }
  }
}