.page .wp-playlist {
  padding: 0;
  
  background: transparent;
  border: 0;
  
  &-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: .25rem;
    padding: .5rem 1rem;
    
    background: $c_white;
    border: 1px solid $c_gray-light;
    color: $c_black;
    
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    
    &-title {
      color: $c_black;
    }
    
    &-length {
      position: static;
    }
    
    &:last-child {
      border-bottom: 1px solid $c_gray-light;
    }
  }
}

.wp-playlist.wp-playlist-light {
  .wp-playlist-caption {
    color: $c_black;
  }
  .wp-playlist-playing {
    background: $c_gold;
    color: $c_white;
    font-weight: normal;
    
    .wp-playlist-caption,
    .wp-playlist-item-title {
      color: $c_white;
    }
  }
}

.wp-playlist .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.wp-playlist .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: $c_gold;
}

.wp-playlist .mejs-controls .mejs-time-rail .mejs-time-current {
  background: lighten($c_gold, 15%);
}

.wp-playlist .mejs-container {
  width: 100% !important;
}

.wp-playlist-current-item {
  display: none;
}