.page .wp-playlist {
  padding: 0;
  
  background: transparent;
  border: 0;
  
  &-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: .25rem;
    padding: .5rem 1rem;
    
    background: $c_white;
    border: 1px solid $c_gray-light;
    color: $c_black;
    
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    
    box-shadow: 0 1px 1px rgba($c_black, .12), 0 4px 10px rgba($c_black, .06);
    
    transition: .2s ease;
    
    &-title {
      color: $c_black;
    }
    
    &-length {
      position: static;
    }
    
    a {
      position: relative;
      
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 0px;
        bottom: 0px;
        left: 0;
        
        background-color: $c_black;
        opacity: 0;
        
        transition: opacity .2s ease, width .2s ease;
      }
      
      &:focus::after {
        width: 100%;
        opacity: 1;
      }
    }
    
    &:last-child {
      border-bottom: 1px solid $c_gray-light;
    }
    
    &:hover {
      box-shadow: 0 10px 25px rgba($c_black, .05), 0 24px 48px rgba($c_black, .12);
      transform: scale(1.01);
      z-index: 1;
      
      a::after {
        width: 100%;
        opacity: 1;
      }
    }
    &:active {
      background: darken($c_gray-light, 10%);
      box-shadow: 0 4px 15px rgba($c_black, .1);
      transform: scale(.99);
    }
  }
}

.wp-playlist.wp-playlist-light {
  .wp-playlist-caption {
    color: $c_black;
  }
  .wp-playlist-playing {
    background: $c_gold;
    color: $c_white;
    font-weight: normal;
    
    .wp-playlist-caption,
    .wp-playlist-item-title {
      color: $c_white;
    }
  }
}

.wp-playlist .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.wp-playlist .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: $c_gold;
}

.wp-playlist .mejs-controls .mejs-time-rail .mejs-time-current {
  background: lighten($c_gold, 15%);
}

.wp-playlist .mejs-container {
  width: 100% !important;
}

.wp-playlist-current-item {
  display: none;
}