.post {

  &-content {
    margin-bottom: 1.75rem;
    
    @media (min-width: 701px) {
      margin-bottom: 5rem;
      
      p {
        max-width: 50ch;
      }
    }
    
    iframe {
      max-width: 100%;
    }
  }
}