/* =========================================
		Site
   ========================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.site,
.site-body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.site {
  font-family: $t_font_body;
  font-size: $t_size_base;
}

  .site-content {
    position: relative;
    display: flex;
    
    @media (min-width: 701px) {
      min-height: 100%;
    }
    
    a:not(.button) {
      color: $c_gold;
    }
  }

  .page-title {
    margin-top: 6rem;
    margin-bottom: 0;

    color: $c_gray-light;
    font-size: 340%;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    
    @media (min-width: 600px) {
      margin-top: 0;
      
      font-size: 1000%;
    }
    
    @media (min-width: 701px) {
      font-size: 1250%;
      line-height: .75;
      letter-spacing: -1.7rem;
      text-align: left;
      word-wrap: break-word;
    }
  }
  
.edit-link {
  display: block;
  text-align: center;
  
  @media (min-width: 701px) {
    text-align: left;
  }
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1.4;
}

h1 { font-size: 312.5% }

p {
  margin-bottom: 2rem;

  font-size: 110%;
  line-height: 1.75;
}