/* =========================================
		Site
   ========================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  
  &:focus {
    background-color: #f1f1f1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}


.site,
.site-body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.site {
  font-family: $t_font_body;
  font-size: $t_size_base;
}

  .site-content {
    position: relative;
    display: flex;
    
    // @media (min-width: 701px) {
    //   min-height: calc(100% - 79px);
    // }
    
    a:not(.button) {
      color: $c_gold;
    }
  }
  
  .page-content {
    padding-left: 1rem;
    padding-right: 1rem;
    
    @media ($b_desktop) {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .page-title {
    margin-top: 7rem;
    margin-bottom: 3rem;

    font-size: 312.5%;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    
    @media (min-width: 600px) {      
      margin-top: 5rem;
      margin-bottom: 2.5rem;
    }
    
    @media (min-width: 701px) {
      //font-size: 750%;
      line-height: 1;
      //letter-spacing: .5rem;
      text-align: left;
      word-wrap: break-word;
    }
    
    @media (min-width: 1000px) {
      //letter-spacing: 2.3rem;
    }
    
    @media (min-width: 1400px) {
      //font-size: 1000%;
      margin-bottom: 5rem;
    }
  }
  
.edit-link {
  display: block;
  text-align: center;
  font-size: 1rem;
  
  @media (min-width: 701px) {
    text-align: left;
  }
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1.4;
}

h1 { font-size: 312.5% }

p {
  margin-bottom: 2rem;

  font-size: 110%;
  line-height: 1.75;
}