.tablist {
  display: flex;
  justify-content: center;
  
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
  position: relative;

  &::before {
    content: '';
    
    position: absolute;
    bottom: -10px;
    left: -1rem;
    height: 1px;
    width: calc(100vw + 1rem);

    background: darken($c_gray-light, 30%);;
    z-index: -1;
    
    @media (min-width: 701px) {
      left: -350px;
      width: 100vw;
    }
  }
  
  @media (min-width: 701px) {
    display: block;
  }

  li {
    position: relative;
    display: inline-block;

    color: darken($c_gray-light, 30%);
    cursor: pointer;
    font-size: 125%;
    text-transform: uppercase;

    &:first-child {
      margin-right: 3rem;
      
      @media (min-width: 701px) {
        margin-right: 5rem;
      }
    }

    &::after {
      content: '';
      
      position: absolute;
      bottom: -17px;
      left: 50%;
      height: 15px;
      width: 15px;

      background: $c_white;
      border: 1px solid darken($c_gray-light, 30%);;
      border-width: 0 1px 1px 0;
      opacity: 0;

      transform: translateX(-50%) rotate(45deg);
    }
  }

  li[aria-selected='true'] {
    color: $c_black;

    &::after {
      opacity: 1;
    }
  }
}

.panel {
  position: relative;

  padding-top: 2rem;

  p {
    max-width: 50ch;
  }

  img {
    display: block;
    margin: auto;
    
    @media (min-width: 701px) {
      position: absolute;
      top: -4rem;
      right: 1rem;
    }
  }
}

.panel[aria-hidden='true'] {
  display: none;
}