.split {
  position: relative;
  flex: 1 1 100%;

  &--left {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    
    @media (max-width: 820px) {
      .page-template-default &,
      .page-template-tpl-about &,
      .blog & {
        display: none;
      }
    }
  }

  &--right {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    margin-top: -32px;
    
    .page-template-default &,
    .page-template-tpl-about &,
    .blog & {
      @media (max-width: 820px) {
        clip-path: none;
        padding: 0 1rem;
      }
    }
  }

  @media (min-width: 821px) {
    .home & {
      flex: 1 1 50%;
    }

    .page-template-default &,
    .page-template-tpl-about &,
    .blog & {
      height: 100%;
    }

    &--left {
      .home & {
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
      }
      .page-template-default &,
      .page-template-tpl-about &,
      .blog & {
        position: fixed;
        top: 0; left: 0;
        height: 100vh;
        width: 300px;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
      }
    }

    &--right {
      .home & {
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
        margin-left: -14%;
        margin-top: 0;
      }
      .page-template-default &,
      .page-template-tpl-about &,
      .blog & {
        flex: 1 0 calc(100% - 400px);
        clip-path: initial;
        margin-top: 0;
        margin-left: 350px;
        max-width: calc(100% - 400px);
      }
    }
  }

  &-bgimage {
    display: flex;

    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;

    background-color: $c_black;
    z-index: -1;

    img { object-fit: cover; }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;

    -webkit-backface-visibility: hidden;

    @media (min-width: 450px) {
      .split--right & {
        align-items: flex-end;
      }
    }
  }

    &-title {
      padding-left: $g_gutter;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      font-size: 180%;
      line-height: 1.2;

      @media (min-width: 450px) {
        font-size: 240%;

        .split--right & {
          align-items: flex-end;
          padding-right: $g_gutter;
          padding-left: 0;
        }
      }

      @media (min-width: 580px) {
        margin-bottom: .83em;
      }

      @media (min-width: 820px) {
        font-size: 312.5%;
      }

      span {
        @include padding(horizontal, ($g_gutter * .5));

        display: inline-block;
        color: $c_white;

        &:first-child {
          .split--left &  { background-color: $c_gold; }
          .split--right & { background-color: $c_black; }

          @media (min-width: 580px) {
            .split--right & { margin-right: $g_gutter; }
          }
        }
        &:last-child {
          .split--left &  { background-color: $c_black; }
          .split--right & { background-color: $c_red; }

          @media (min-width: 580px) {
            .split--left &  { margin-left: $g_gutter; }
          }
        }
      }
    }

    &-tagline {
      padding-left: $g_gutter;
      
      color: $c_white;
      font-weight: 100;
      text-shadow: 0 6px 10px rgba($c_black, .5);

      @media (min-width: 450px) {
        .split--right & { padding-right: $g_gutter; text-align: right; }
      }

      @media (min-width: 820px) {
        position: absolute;
        bottom: 0;

        line-height: 3;

        .split--left & { left: $g_gutter; padding-left: 0; }
        .split--right & { right: $g_gutter; padding-right: 0; }
      }
    }

    &-button {
      margin-left: $g_gutter;
      
      @media (min-width: 450px) {
        .split--right & { margin-right: $g_gutter; margin-left: 0; }
      }

      @media (min-width: 820px) {
        .split--left & { margin-left: $g_gutter; align-self: center; }
        .split--right & { margin-right: $g_gutter; align-self: center; }
      }
    }
}