/* =========================================
		Color Index
   ========================================= */
/**
 * Prefix colors with $c_ this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

$c_black: #1c1b24;

$c_white: #fff;

$c_gold: #998137;

$c_red: #b3494a;

$c_navy: #26273a;